<div class="container mt-3">
  <h2><h1 class="text-dark text-center text-uppercase"><dt>Bus Routes</dt></h1></h2><hr>          
  <table class="table table-striped table-bordered table-hover table-info">
    <thead class="text-center">
      <tr>
        <th>ID</th>
        <th>FROM CITY</th>
        <th>TO CITY</th>
        <th style="color: red;">Action Buttons</th>
      </tr>
    </thead>
    <tbody>
        <% @bus_routes.each do |route| %>
          <tr class="text-center">
            <td><%= route.id %></td>
            <td><%= route.from_city.name %></td>
            <td><%= route.to_city.name %></td>     
            <td><%= link_to "Show Buses", bus_route_path(id: route.id), :class => "btn btn-primary btn-sm" %>
            <%= link_to "Delete Route", route, data: {turbo_method: :delete,turbo_confirm: "Are you sure?"},:class => "btn btn-danger btn-sm" %>
            <%= link_to "Create Bus", new_bus_path(bus_route_id: route.id), :class => "btn btn-success btn-sm" %>
            </td>
          </tr>
        <% end %>
    </tbody> 
  </table>
  <div class="btn btn-primary">
    <%= link_to "Create Routes", new_bus_route_path, :class => "btn btn-primary btn-sm" %>
  </div>
</div>
